<html>
<head>
	<title>entering menu </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
    <%if(flag==1){%>
          <span class="badge badge-success my-3 mr-2">Success!<br></span>inserted into the database

    <%}%>
    <%if(flag==2){%>
     <span class="badge badge-warning my-3 mr-2">warning!<br></span>a dish already exists with same name
     <%}%>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<nav class="navbar navbar-light bg-success px-5 my-2">
        <p class="text center"><b>Enter record (admin)<b></p>
         </nav>
				<form action="/newdish" method="post" enctype="multipart/form-data" class="needs-validation" novalidate >
    <div class="form-group">
      <label for="name">Dishname:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name of dish" name="name" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <!--<label for="category">Category:</label>
      <input type="text" class="form-control" id="category" placeholder="name of category " name="category" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>-->
      <label for="exampleFormControlSelect1">Select category</label>
    <select class="form-control" id="exampleFormControlSelect1" name="category">
      <option>chinese</option>
      <option>indian</option>
      <option>western</option>
    </select>
    </div>
    <div class="form-group">
    	<label for="vegornonveg">Select genre</label>
    		<select class="form-control" id="vegornonveg" name="genre">
    			<option>veg</option>
    			<option>non-veg</option>
    		</select>
    		
    	
    	
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" placeholder="Enter price " name="price" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="avatar">Image:</label><br>
      <input type="file"  id="avatar" placeholder="upload image" name="avatar" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</div>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


</body>
</html>