
<html>
<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<title>this is the login page</title>
  <style type="text/css">
    .contain {
  position: relative;
  width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.contain .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  height: 100%;
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input
{
  background: transparent !important;
  border:transparent;
  border-bottom: 1px solid   #00ccff;
  color:  #ff0066;

}
@media only screen and (min-width:576px)
{
  input
  {
   min-width: 500px !important;
   margin-bottom: 10px !importants;
  }
}
input::-webkit-input-placeholder {
  color: white;
}
.inform
{
color:  #00ff55;
}
button
{
  border-radius: 1000px !important;
  width: 200px;
}

 </style>

</head>
<body>
<div class="contain">
  <img src="../direwolf.jpg" alt="Notebook" style="width:100%;height: 100%;">
<div class="content">
  
<div class="container ">
  <div class="centered">

 <p class="text-center"> 
    <span class="inform h4">Enter Email and Password</span>
<br><%if(flag==1){%>
  <span class="badge badge-danger my-3 mr-2">Sorry!<br></span><%=info%>
  <%}%>
  
</p>
  <div class="row justify-content-center">
  
<form action="/dwarika_restaurant/login" method="post">
  <input type="email" name="email" class="my-2" placeholder="Email eg: sdv@example.com"><br>
  <input type="password" name="password" class="my-2"
  placeholder="password" maxlength="10"><br>
  <div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-outline-success my-3">LogIn</button>
  </div>
</form>
</div>
</div>
</div>
 </div>
</div>

</body>
</html>